In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("BostonHousing.csv")
dataset.head(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [16]:
dataset.shape

(506, 14)

In [7]:
# we are splitting input/output data
input_data = dataset.iloc[:,:-1]   # 1st ':' => row,    2nd ':' => column-1
input_data                         #this will remove the last column
# this gives the input data as we split

# for output data
output_data = dataset["medv"]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
#this will divide the data in 4 parts
# input data = training and testing
# output data = training and testing

In [10]:
# x for input data
# y for output data
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.25)

In [12]:
x_test.head(2)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
428,7.36711,0.0,18.10,0,0.679,6.193,78.1,1.9356,24,666,20.2,96.73,21.52
39,0.02763,75.0,2.95,0,0.428,6.595,21.8,5.4011,3,252,18.3,395.63,4.32

In [13]:
x_train.head(2)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
42,0.14150,0.0,6.91,0,0.448,6.169,6.6,5.7209,3,233,17.9,383.37,5.81
25,0.84054,0.0,8.14,0,0.538,5.599,85.7,4.4546,4,307,21.0,303.42,16.51

In [14]:
y_test.head(2)

428    11.0
39     30.8
Name: medv, dtype: float64

In [15]:
y_train.head(2)

42    25.3
25    13.9
Name: medv, dtype: float64

In [20]:
x_train.shape , y_train.shape     #training data => when we are building model

((379, 13), (379,))

In [21]:
x_test.shape , y_test.shape        #testing data => when we need to check the accuracy for new data

((127, 13), (127,))