# Hello World programme

In [1]:
print ("hello ")

hello

## variables

In [3]:
name =" my name is abhi "
print (name)

 my name is abhi

In [1]:
age = 22
print(age)

22

In [2]:
percent = 60.4
print(percent)

60.4

In [3]:
is_correct = True
print(is_correct)

True

## Inputs

In [4]:
name = input("What is your name ? ")
print(name)

What is your name ?  Tanushri

Tanushri

## Concatenation

In [6]:
name = input("What is your name ?")
print("Heyyy " + name)

What is your name ? Meena

Heyyy Meena

## Type conversion

In [7]:
old_age = input("What is your old age : ")
new_age = int(old_age) + 2
print(new_age)

What is your old age :  10

12

In [8]:
num = 45
print(float(num))

45.0

### sum of two numbers

In [12]:
first = input("enter first number : ")
second = input("enter second number : ")
sum = int(first) + int(second)
print("The sum is : " + str(sum))

enter first number :  20
enter second number :  40

The sum is : 60

## Strings

In [14]:
color = "Yellow"
print(color.upper())
print(color.lower())
print(color.find('o'))
print(color.replace('Y', 'F'))

YELLOW
yellow
4
Fellow

In [15]:
place = "Greece"
print("Greece" in place)
print("Paris" in place)

True
False

## Airthmetic operations

In [29]:
print(20 + 15) 
print(20 - 15)
print(20 * 15)
print(20 / 15)
print(20 // 15)  #round off
print(20 % 15)   #reminder
print(20 ** 2)   # power of

35
5
300
1.3333333333333333
1
5
400

In [27]:
i = 4
i *= 2
print(i)

8

## operator Precedence

In [28]:
#bracket
#division or multiply
#add or subtract
res = 22 + 10 * 2
print(res)

42

## Comparision Operator

In [31]:
print(2 > 3)
print(2 < 3)
print(2 >= 3)
print(2 <= 3)
print(3 == 3)
print(2 != 3)

False
True
False
True
True
True

## Logical Operators

In [33]:
#or = any one expression need to be true otherwise it will return false
print(2>3 or 2>1)
#and = both expression need to be true otherwise it will return false
print(3>2 and 2>1)
#not = one expression is false then it return true or viceversa
print(not 2>1)

True
True
False

## if-else statement

In [34]:
age = 20
if age >= 18:  # colon(:) is used to show block of sentences/code
    print("you are adult")

print("thanks")

you are adult
thanks

In [36]:
age = 2
if age >= 18: 
    print("you are adult")
    
elif age < 18 and age > 3:
    print("you are in school")
    
else:
    print("you are kid")

print("thanks")

you are kid
thanks

### Mini calculator

In [43]:
first = input("enter first number : ")
operator = input("enter operator (+, -, *, /, %) :")
second = input("enter second number : ")

if operator == "+":
    print(int(first) + int(second))
elif operator == "-":
    print(int(first) - int(second))
elif operator == "*":
    print(int(first) *int(second))
elif operator == "/":
    print(int(first) / int(second))
elif operator == "%":
    print(int(first) % int(second))
else:
    print("invalid operator")

enter first number :  2
enter operator (+, -, *, /, %) : *
enter second number :  2

4

## Range

In [44]:
num = range(10)
print(num)         # 10 is not included in range

range(0, 10)

## While Loop

In [45]:
i = 1
while i <= 5:
    print(i)
    i +=1

1
2
3
4
5

In [46]:
i = 1
while i <= 6:
    print(i * "*")
    i += 1

*
**
***
****
*****
******

## for Loop

In [47]:
for i in range(6):
    print(i)

0
1
2
3
4
5

## List

In [64]:
# it is written in [ ]  square bracket

In [48]:
marks = [90, 45, 20]
print(marks)

[90, 45, 20]

In [50]:
marks = [90, 45, 20]
print(marks[1])       # it will print that index value

45

In [51]:
marks = [90, 45, 20, 50]
print(marks[1:3])     # this will include 1,2 but not third index

[45, 20]

In [52]:
marks = [90, 45, 20]

for score in marks:
    print(score)

90
45
20

## Operations on List

In [53]:
marks = [90, 45, 20]
marks.append(100)     # add in the end
print(marks)

[90, 45, 20, 100]

In [54]:
marks = [90, 45, 20]
marks.insert(1, 100)     # add in the index value i.e 1
print(marks)

[90, 100, 45, 20]

In [55]:
marks = [90, 45, 20]   
print(90 in marks)

True

In [56]:
marks = [90, 45, 20]
print(len(marks))

3

In [57]:
marks = [90, 45, 20]
i=0

while i<len(marks):
    print(marks[i])
    i += 1

90
45
20

In [58]:
marks = [90, 45, 20]
print(marks.clear())

None

## Break

In [60]:
students = ["ram", "sham", "meera", "geeta", "seeta"]

for student in students:
    if student == "meera":
        break;              # this will not print name from meera , it will break
    print(student)

ram
sham

## Continue

In [61]:
students = ["ram", "sham", "meera", "geeta", "seeta"]

for student in students:
    if student == "meera":
        continue;              # this will not print name of meera , it will continue to print remaining names
    print(student)

ram
sham
geeta
seeta

## Tuple

In [65]:
# it is written in ( ) round bracket/ parenthesis
# it is similar to list (immutable) => once it made it cannot be change

marks = (100, 101, 103, 101)
print(marks.count(101))
print(marks.index(101))

2
1

## Set

In [68]:
# it is written in { }  curly bracket
# also parenthesis is optional in set
# it contains unique value
# it does not contain order hence it is called as unordered
marks = {100, 101, 103, 101}

for score in marks: 
    print(score)

100
101
103

## Dictionary

In [69]:
# it contains key-value pair
marks = {"eng" : 95, "chem" : 67}
print(marks["chem"])

67

In [70]:
marks = {"eng" : 95, "chem" : 67}
marks["phys"] = 89
print(marks)

{'eng': 95, 'chem': 67, 'phys': 89}

## Functions

In [71]:
# 1. in-built function  => int(), str(), bool()

# 2. module function
from math import sqrt
print(sqrt(5))

# 3. user-defined function
def print_sum(first , second):
    print(first + second)
print

2.23606797749979